


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
<!--
  <link href="style.css" rel="stylesheet" />
-->

  <!-- 0) Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
	// script goes here
	console.log("Hi! we are on :-)");
  </script>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">






<style>
/* Popup container - can be anything you want */


mark { 
  background-color: lightgray;
  color: black;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popuptext-small {
  visibility: hidden;
  width: 70px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after .popuptext-small::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
</style>

<script>

var ActivePopup=false;// Global
var t = new Date().getTime(); // Global

function show(id) {
  var y = ["InstallApp", "NativeAvailableVariables", "ShaderToyPortability", "RecordResults"];
  for (i=0; i<y.length; i++) 
  {
    if (y[i] != id)
    {
      var x2 = document.getElementById(y[i]);
      x2.style.display = "none";
    }
  }
  if (id=="") return;
  var x = document.getElementById(id);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
</script>

<script>
// When the user clicks on div, open the popup
function popper(id) {
  console.log("pop" + id.toString());
  var popup = document.getElementById("pop" + id.toString());
  popup.classList.toggle("show");
}


setInterval(function(){ 
    //code goes here that will be run every 5 seconds.    
if (ActivePopup && (new Date().getTime() > t + 1000))
{ 
  popper(2);
  ActivePopup = false;
  console.log("Deactivated active popup");
}
}, 1000);
</script>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>
<body>

 <section class="hero is-warning">

<div class="columns is-gapless">
<!--  <div class="column is-one-fifth"> -->
  <div class="column is-1"> 

    
  </div>
<!--   <div class="column is-two-fifths"> -->
<div class="column is-7 is-offset-1">

<div class="columns is-gapless">
<div class="column is-three-quarters">
    <div class="container">
<br><br>
      <h1 class="title">
        Custom Shader for Spectacles

      </h1>
      <p class="subtitle">
        Write a fragment shader or paste it from <a href='https://www.shadertoy.com/'><strong>ShaderToy</strong></a>.<br>Send to server and run the App!
      </p>

	
	<i>How to:</i>&nbsp;&nbsp;<a onclick="show('InstallApp')"><i>[Install App]</i></a>&nbsp;&nbsp;<a onclick="show('ShaderToyPortability')"><i>[ShaderToy Portability]</i></a>&nbsp;&nbsp;<a onclick="show('NativeAvailableVariables')"><i>[Native Variables]</i></a>&nbsp;&nbsp;<a onclick="show('RecordResults')"><i>[Record]</i></a>



</div>
</div>
<div class="column is-one-quarter">
<div class="container" style="align-content : center">
<br><br>
<img src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/static/spectacles2021.png?raw=true" width=140px height=80px>
<!-- 2) Button  -->
<br>
<button class="button is-normal is-light is-rounded" onclick="show('');ajaxCall2('MainTextbox');">
<span class='popup'>
<span class='popuptext' id='pop1'>
<div align="right">⌧</div>
&#128542 POST to server has failed &#128542, please retry<br> and/or contact:<i> gastonmazzei95 [at] gmail.com</i></span>
<span class='popuptext-small' id='pop2'>
<!--<div align="right" style="font-size: 9px;">⌧</div>-->
Success!</span></span>
Send to Server</button>




</div>
</div>
</div>

<div id="InstallApp" style="display: none">
<section class="hero is-white">
<p style="text-align:center"><b>How to: <u>Install the App</u></b></p>
<div class="content">
<ul>
 <li>Download the compiled <mark>.apk</mark> app <u><a href='https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/raw/main/deviceApp/latest_app/ShaderToy-2.0.0-release.apk'>here</a></u>.</li>
 <li>After pairing the device in Dev mode, install with <mark>adb install ShaderToy-2.0.0-release.apk</mark></li>
 <li>Start the App with a UI using <mark>scrcpy</mark>. The App will request the latest shader from our Server.</li>
 <li>In the application, tap on the right to re-query the latest shader, restart the time counter, and reposition the rendered rectangle to the user's front.</li>
</ul>
</div>
</section>
<br>
</div>

<div id="NativeAvailableVariables" style="display: none">
<section class="hero is-white">
<p style="text-align:center"><b>How to: <u>Native Available Variables</u></b></p>
<div class="content">
<ul>
 <li>Besides copy-pasting from ShaderToy, you can directly code using native variables.</li>
 <li>The default shader shows them all and explains them</li>
</ul>
</div>
</section>
<br>
</div>


<div id="ShaderToyPortability" style="display: none">
<section class="hero is-white">
<p style="text-align:center"><b>How to: <u>ShaderToy Portability</u></b></p>
<div class="content">
<ul>
 <li>Directly pasting ShaderToy shaders should work, conversions are done at the Server using the table below.</li>
 <li>No textures are available. Texels are hardcoded to <mark>vec4(1.,1.,1.,1.)</mark> (or <mark>float(1.), vec2(1.,1.), vec3(1.,1.,1.)</mark> when required).</li>
 <li>Only single buffer.</li>
<div style="text-align: center">
<img src='https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/static/table-of-replacements.png?raw=true' width=550>
</div>
</ul>
 <!--<img></img>-->
</div>
</section>
</div>

<div id="RecordResults" style="display: none">
<section class="hero is-white">
<p style="text-align:center"><b>How to: <u>Record</u></b></p>
<div class="content">
<ul>
 <li>While the app is running, in another terminal enter the device with <mark>adb shell</mark></li>
 <li>Once inside, run <mark>/bin/screenrecord /sdcard/temp.mp4</mark> and end the recording with Ctrl+C</li>
 <li>Exit the device with <mark>exit</mark>, and finally download it with <mark>adb pull /sdcard/temp.mp4 . </mark></li>
</ul>
</div>
</section>
</div>



<br>
<p style="text-align:center"><strong>Shader:</strong></p>
<!-- 1) Textbox -->
<textarea class="textarea has-fixed-size" id="MainTextbox" cols=30 rows=12>
precision mediump float;              // dont use "frgColor", it is a reserved keyword
out vec4 outColor;                         // the variable to write to that defines the screen color
uniform float iGlobalTime;         // a counter, in render count units. 

void main() {

    // Example:
    // gl_FragCoord usage: "normalized coordinates"
    // 
    vec2 uv = ( gl_FragCoord.xy - vec2(162,86) ) / vec2(540, 584); 

    // Example: 
    // iGlobalTime usage: "modulating intensity"
    //
    float freq = 100. / 2. / 3.14 ;
    outColor = vec4(uv.x, uv.y, 0., 1.0f) * abs( sin(iGlobalTime * freq) );
}
</textarea>


  </div>
<!--  <div class="column is-two-fifths">-->
<div class="column is-4 is-offset-8">

    <div>
<p style="float: right;">
<span class="icon is-small">
<a href="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles"><i class="fab fa-github-square" aria-hidden="true"></i></a>
</span>
</p>
    </div>
<br><br>

<section class="hero has-text-centered">

<a onclick="show('Examples')"><h2 class="subtitle"><u>Click</u> to View ShaderToy Examples
</h2></a>

<section id="Examples" style="display: none;">

<a href='https://www.shadertoy.com/view/Mss3Wf'><strong>Fractal <i>(<u>code</u>)</i></strong></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/fractal/fractal.png?raw=true">
</div>



<!--
<iframe class="has-ratio" width="10" height="30" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>

<figure class="image is-16by9">
  <iframe class="has-ratio" width="10" height="30" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
</figure>
-->

<a href='https://www.shadertoy.com/view/MtXSWj'><strong>Twin Dragon <i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/twin-dragon/TwinDragon.png?raw=true">
</div>



<a href='https://www.shadertoy.com/view/WtdBDM'><strong>Glass Bubble<i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/glass-buble/glass-buble.png?raw=true">
</div>



<a href='https://www.shadertoy.com/view/NdffRr'><strong>Slime Waterfall<i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/slime-waterfall/slime-waterfall.png?raw=true">
</div>


<a href='https://www.shadertoy.com/view/7ljGWw'><strong>Raspberry Ripple<i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/raspberry-ripple/raspberry-ripple.png?raw=true">
</div>


<a href='https://www.shadertoy.com/view/MsVGRc'><strong>Dragon<i></strong> (<u>code</u>)</i></a> <i>[very heavy!]</i>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/dragon/dragon.png?raw=true">
</div>


<a href='https://www.shadertoy.com/view/7sjfWy'><strong>Pseudo Fluid<i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/pseudo-fluid/pseudo-fluid.png?raw=true">
</div>


<a href='https://www.shadertoy.com/view/ftfcWB'><strong>Ferrofluid Array<i></strong> (<u>code</u>)</i></a> <i>[heavy!]</i>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/ferrofluid-array/ferrofluid-array.png?raw=true">
</div>


<a href='https://www.shadertoy.com/view/7tBcWR'><strong>Spiral<i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/spiral/spiral.png?raw=true">
</div>


<a href='https://www.shadertoy.com/view/7ttGR4'><strong>Turbulent Wind<i></strong> (<u>code</u>)</i></a>
<div style="text-align: center">
<img width=200 src="https://github.com/GastonMazzei/custom-fragment-shader-4Snaptchat-Spectacles/blob/main/examples/turbulent-wind/turbulent-wind.png?raw=true">
</div>






</section>


</section>
  </div>
</div>


<br>
  </section>








<!-- 3) Script triggered by button -->
<!--<p id="demo"></p>--> <!-- tag for something to happen -->
<script>
function myFunction() {
  // something happens
  document.getElementById("demo").innerHTML = "Hello World";
}




function ajaxCall(element){
    var text = $(element).val();
    $.ajax({
      url: "67.205.140.247:81/update_shader",
      type: "post",
      data: {jsdata: text},
      success: function(response) {
	console.log("Result is successfull!");
//	d = response["data"];
//	myChart.destroy();
//	armarChart(d[0]);
//	myRadarChart.destroy();
//	armarRadarChart(d[1]);
//	myBarChart.destroy();
//	armarBarChart(d[2]);
      },
      error: function(xhr) {
	console.log('an error has occurred!');
      }
    });
} 


function ajaxCall2(element){
	//var text = "something";//$(element).val();
	var text = document.getElementById(element).value;
        var success = false;
        console.log("About to send", {data:"something"});
	$.post("http://67.205.140.247:81/update_shader?callback=?",text,function(){
          success = true;
          popper(2); 
	  ActivePopup = true;
          t = new Date().getTime();
	});

} 
</script>



   <section class="hero is-dark">
      <div class="hero-body has-text-white">
           <p>
           <center>
           
            Powered by <strong><u><a href="https://github.com/GastonMazzei">Gaston</a></u> <u><a href='https://gastonmazzei.github.io/'>Mazzei</a></u></strong>
           
           </center>
           </p>
      </div>
    </section>


</body>

</html>
